@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* 폰트 font-weight: <100~900 사이값> 으로 폰트 두께 조절 가능.  */
body {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    overflow-y: auto;
}

:root{
    --primary-color: #2D3250;
    --secondary-color: #7077A1;
    --botton-color: #0085DB;
    --sheet-color: #eeeeee;
    --text-color: #000000;
}

::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

a {
    color: inherit;
    text-decoration: none;
}
